.heading {
  display: flex;
  padding: 1.25rem;
}

.heading button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.heading_flag {
  flex: 1; 
  width: 2rem;
}

.heading_name,
.heading_population,
.heading_area,
.heading_region {
  align-items: center;
  color: var(--text-color-secondary);
  display: flex;
  flex: 4;
  font-weight: 500;
  font-size: 1.125rem;
  justify-content: center;
}

.heading_name {
  justify-content: flex-start;
}

.row {
  background-color: var(--background-color-light);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 1.25rem;
  text-align: center;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.row:hover {
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.25rem);
}

.flag {
  margin-right: 1rem;
}

.name {
  flex: 4;
  text-align: left;
}

.population {
  flex: 4;
}

.area {
  flex: 4;
}

.region {
  flex: 4;
}

@media screen and (max-width: 720px) {
  .area,
  .heading_area {
    display: none;
  }

  .region,
  .heading_region {
    display: none;
  }

  .flag {
    margin-right: 0.5rem;
  }
}